apiVersion: v1
kind: Service
metadata:
  name: prometheus-service 
  labels:
    app: prometheus
spec:
  selector:
    app: prometheus
  ports:
    - name: http
      protocol: TCP
      port: 9090 
      targetPort: 9090
